<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
        <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'Style/Side_Nav.css' %}">
        <link rel="stylesheet" href="{% static 'Style/card.css' %}">
        <script src="{% static 'Logic/main.js' %}"></script>
        <title>Dashboard</title>
    </head>
    <body>
        <nav class="navbar">
            <a onclick="openSlideMenu()" class="button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
        </div>
        <div class="brand-title">
            Pink
        </div>
        <div class="navbar-links" id="link">
            <ul>
                <li>
                    <a href="{% url 'docLogout' %}">LogOut</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="sidenav" id="side-menu">
        <ul class="side-link">
            <li>
                <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
            </li>
            <li class="ml-3">{{ username.doc_name }}</li>
            <li>
                <a href="">DashBoard</a>
            </li>
            <li>
                <a href="">Update Profile</a>
            </li>
            <li>
                <a href="">Profile</a>
            </li>
            <a href="">Feedback</a>
        </li>
    </ul>
    <div class="container">
        <hr style="border: 2px solid white;">
    </div>
    <ul class="second">
        <li>Consult</li>
        <li>Book A Lab</li>
        <li>
            <a href="">Logout</a>
        </li>
    </ul>
</div>
<div class="container d-flex align-items-center justify-content-evenly" style="margin: 5% auto; flex-wrap: wrap;">
    <div class="card text-center">
        <div class="card-title mt-3">
            <h3>Confirm / Unconfirm Patients</h3>
        </div>
        <div class="card-body mt-5">
            <h4>
                this module to confirm and unconfirm patients asking for consultations. Please be careful while doing as we cannot afford any confusion at the users end would not be great for the organisation.
                    Thank You .....
                <br>
                Cheers...
            </h4>
        </div>
        <div class="card-footer">
            <a class="btn btn-lg btn-warning" href="{% url 'seePatient' %}">Look at Patients...</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-title mt-3">
            <h3>Upload Prescription</h3>
        </div>
        <div class="card-body mt-5">
            <h4>
                this module is to upload Prescription for a patient. Please be careful while doing as we cannot afford any confusion at the users end would not be great for the organisation.
                    Thank You .....
                <br>
                Cheers...
            </h4>
        </div>
        <div class="card-footer">
            <a href="{% url 'prescriptions' %}" class="btn btn-lg btn-warning">Upload Prescription...</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-title mt-3">
            <h3>Inbox</h3>
        </div>
        <div class="card-body mt-5">
            <h4>
                this module is to look at your inbox and start chatting. Please be careful while doing as we cannot afford any confusion at the users end would not be great for the organisation.
                    Thank You .....
                <br>
                Cheers...
            </h4>
        </div>
        <div class="card-footer">
            <a href="{% url 'Docinbox' %}" class="btn btn-lg btn-warning">Inbox...</a>
        </div>
    </div>
    <div class="card text-center mt-3">
        <div class="card-title mt-3">
            <h3>Your Conversations</h3>
        </div>
        <div class="card-body mt-5">
            <h4>
                this module is to let you continue your ongoing conversations. Please be careful while doing as we cannot afford any confusion at the users end would not be great for the organisation.
                    Thank You .....
                <br>
                Cheers...
            </h4>
        </div>
        <div class="card-footer">
            <a href="{% url 'myConversations' %}" class="btn btn-lg btn-warning">Your Conversations...</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
        AOS.init({
            offset: 300,
            duration: 1000,
        });
</script>
</body>
</html>
