{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'Style/nav.css' %}">
{% endblock %}
{% block title %} Forgot Password {% endblock %}
{% block body %}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="font-size: 1.2rem;">
    <strong>{{ status }}</strong>
    
    <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
    >
        <span>&times;</span>
    </button>
</div>
<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <form
                method="post"
                name="myForm"
                action="/forgotPassword/"
                ng-app="validate"
                ng-controller="formValidator"
            >
                {% csrf_token %}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <input
                        class="form-control"
                        id="user"
                        name="email"
                        placeholder="Email address"
                        type="email"
                        ng-model="email"
                        required
                    >
                    <span style="color: red;font-size:1.6rem ; margin-left: 2%;" ng-show="myForm.email.$error.required">*</span>
                </div>
                <!-- form-group// -->
                <p id="demo"></p>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <input
                        class="form-control"
                        id="pwd"
                        name="password"
                        placeholder="Password"
                        ng-model="password"
                        required
                    >
                    <span style="color: red; font-size:1.6rem ; margin-left: 2%;" ng-show="myForm.password.$error.required">*</span>
                </div>
                <!-- form-group// -->
                <p id="demo1"></p>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="myForm.password.$error.required && myForm.email.$error.required">
                        Get OTP
                    </button>
                </div>
                <!-- form-group// -->
            </form>
        </article>
    </div>
    <!-- card.// -->
</div>
<!--container end.//-->
<br>
<br>
<article class="bg-secondary mb-3">
    <div class="card-body text-center">
        <h3 class="text-white mt-3">Pink pvt Ltd.</h3>
        <p class="h5 text-white">
            All Rights reserved
            <br>
            Contact us at
            <br>
            dkumardk002@gmail.com
        </p>
        <br>
        <p>
            <a class="btn btn-warning" target="_blank" href="">
                www.pink.com
                <i class="fa fa-window-restore "></i>
            </a>
        </p>
    </div>
    <br>
    <br>
</article>
{% endblock %}

{% block js %}
<script src="{% static 'Logic/main.js' %}"></script>
<script src="{% static 'Logic/login.js' %}"></script>
{% endblock %}
