* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Grenze Gotisch', cursive;
    background-color: #f5daef;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f56cd0;
    color: white;
}

.brand-title {
    font-size: 2.5rem;
    margin: 0.2rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    color: white;
    display: block;
    font-size: 1.4rem;
}

.navbar-links li:hover {
    background-color: thistle;
}

#main{
    margin-left: 15%;
}
.button {
    width: 25px;
    height: 21px;
    margin-top: 20rem;
    display: flex;
    position: absolute;
    left: 1rem;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: black;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 5;
}

.side-link li {
    list-style: none;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-link li:hover {
    color: #fff;
}

.side-link .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.second li {
    list-style: none;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: none;
    transition: 0.3s;
}

.second li:hover {
    color: #fff;
}

@media (max-width: 600px) {
    .navbar ul {
        display: none;
    }
    .second li {
        display: block;
    }
}



